.add-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  width: 100%;
  background: rgb(220, 163, 144);
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  border-top: 2px solid black;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bolder;
  padding: 10px 0px 10px 20px;
}

.quantity-control p, .add-to-cart p {
  font-size: 21px;
  color: rgb(68, 68, 68);
}

.add-to-cart p {
  margin-top: 3px;
}

.fa-quantity {
  font-size: 12px;
}

.fa-quantity:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.add-to-cart {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px 10px 0px;
}

.fa-cart {
  font-size: 22px;
}

.fa-cart:hover {
  cursor: pointer;
  transform: scale(1.05);
}