h1 {
  text-align: center;
  padding: 20px 0px;
  color: white;
  background: rgb(148, 137, 115);
}

#root {
  display: flex;
  width: 100%;
  min-height: 100%;
}

header {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  border-bottom: 2px solid rgb(121, 87, 51);
  background: rgb(235, 189, 104);
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: rgba(82, 76, 53, 0.83);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-size: contain;
  background-repeat:round;
}

.home-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(30%, 600px));
  width: 100%;
  height: 100%;
  gap: 10px;
  margin: 0 auto;
  padding: 60px 0px;
}

.flowers-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.flowers-container img {
  border-radius: 20px;
  border: 2px solid rgb(123, 163, 58);
  width: 100%;
}