.cart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 50px 0px 50px 100px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  background: white;
  border-left: 5px solid gray;
  border-right: 5px solid gray;
  padding: 15px 20px;
}

.cart-item img {
  height: 100px;
  width: 70px;
}

.line {
  border: 1px solid rgb(237, 237, 237);
  height: 0px;
  width: 100%;
}

.product-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px;
}

.cart-price-info .add-bar {
  width: 200px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background: none;
  border-top: none;
}

.cart-price-info .add-bar .quantity-control {
  display: flex;
  justify-content: center;
  padding: 0;
}

@media (max-width: 600px) {
  .cart-items {
    max-width: 300px;
  }

  .cart-item {
    padding: 0px;
  }

  .product-details img{
    margin: 0;
  }

  .cart-container {
    padding: 20px 10px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .cart-item img {
    margin-left: 20px;
  }
}