.cart-item {
  display: flex;
  flex-direction: column;
  background: white;
  border-left: 5px solid gray;
  border-right: 5px solid gray;
  min-width: 250px;
  padding: 15px 20px;
}

.cart-item img {
  height: 100px;
  width: 70px;
  margin-right: 25px;
}

.line {
  border: 1px solid gray;
  height: 0px;
  width: 100%;
}

.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}
