.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 5px solid rgb(201 133 133);
  position: relative;
  top: 0;
}

.text-links {
  display: flex;
  gap: 15px;
  font-weight: 600;
  font-size: 16px;
  padding: 0 20px;
}

.cart-icon {
  padding: 0 15px;
}

.cart-icon:hover {
  transform: scale(1.1);
}