.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 5px solid rgb(201 133 133);
}

.text-links {
  display: flex;
  gap: 15px;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.text-links a:hover, .cart-icon:hover {
  transform: scale(1.1);
  color: orangered;
}

.cart-icon {
  height: 15px;
  color: white;
}