.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-radius: 27px;
  background: rgb(196, 173, 152);
  border: 3px solid rgb(61, 31, 8);
}

.item-img {
  height: 400px;
  width: 250px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: 2px solid rgb(46, 8, 8);
}

.shop-item h3 {
  padding: 5px 0px;
}