.item-detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px;
  border: 10px solid rgb(36, 20, 6);
}

.item-detail-container img {
  height: 800px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.shop-detail {
  padding-bottom: 100px;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

@media (max-width: 800px) {
  .item-detail-container {
    width: 80%;
  }
  
  .item-detail-container img {
    width: 100%;
    height: 100%;
  }
}